version: "3.7"

services:
  php:
    build:
      context: ./config/php
#php-fpm      dockerfile: ./Dockerfile
#laravel-octane      dockerfile: ./laravel_octane/Dockerfile
    restart: unless-stopped
    tty: true
    working_dir: /var/www/app/
#laravel-octane    ports:
#laravel-octane      - 8888
    volumes:
      - ./src:/var/www/app
      - ./volumes/laravel/storage:/var/www/app/storage
      - ./config/php/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./volumes/supervisor_conf:/etc/supervisor/conf.d
    networks:
      - internal
      - service_network

  nginx:
    depends_on:
      - php
    image: nginx:stable-alpine
    restart: unless-stopped
    tty: true
    volumes:
      - ./src:/var/www/app
      - ./volumes/laravel/storage:/var/www/app/storage
      - ./volumes/nginx/log:/var/log/nginx
#php-fpm      - ./config/nginx/default.conf:/etc/nginx/conf.d/default.conf
#laravel-octane      - ./config/nginx/laravel_octane/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - internal
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-proxy"
      - "traefik.http.routers.YOUR_PROJECT_NAME.rule=Host(`YOUR_PROJECT_DOMAIN`)"
      - "traefik.http.routers.YOUR_PROJECT_NAME.entrypoints=websecure"

#frontend-service  frontend:
#frontend-service    image: nginx:stable-alpine
#frontend-service    restart: unless-stopped
#frontend-service    tty: true
#frontend-service    working_dir: /var/www/
#frontend-service    volumes:
#frontend-service      - ./frontend_src:/var/www
#frontend-service      - ./volumes/frontend_nginx/log:/var/log/nginx
#frontend-service      - ./config/nginx/frontend/default.conf:/etc/nginx/conf.d/default.conf
#frontend-service    networks:
#frontend-service      - internal
#frontend-service      - traefik-proxy
#frontend-service    labels:
#frontend-service      - "traefik.enable=true"
#frontend-service      - "traefik.docker.network=traefik-proxy"
#frontend-service      - "traefik.http.routers.YOUR_PROJECT_NAME_frontend.rule=Host(`YOUR_PROJECT_FRONTEND_DOMAIN`)"
#frontend-service      - "traefik.http.routers.YOUR_PROJECT_NAME_frontend.entrypoints=websecure"

#web3-service  web3:
#web3-service    image: node:lts
#web3-service    tty: true
#web3-service    ports:
#web3-service      - 3000
#web3-service    volumes:
#web3-service      - ./web3_src:/opt/app
#web3-service    command: bash -c "yarn start"
#web3-service    restart: unless-stopped
#web3-service    working_dir: /opt/app
#web3-service    networks:
#web3-service      - internal

networks:
  traefik-proxy:
    external: true
  service_network:
    external: true
  internal:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.2.0/24
          gateway: 172.16.2.1